.lion{width:250px;hight:250px;
background-color:#D3D3D3x;
display:inline-block;
}
.wood{width:250px;hight:250px;
background-color:#ADD8E6;}
input{margin-right:70px;}
.b{margin-right:90%}
.d{width:150px;hight:150px;
background-color:white;}
.eee{background:#CBC3E3;}
.re{background:yellow;width:250px;hight:300px;display:inline-block;}
.rrr{display:inline-block;height:200PX;}